mixin customInput(mod, type, id, name, val, checked)

    .custom-input(class='custom-input_#{mod}')
        input.custom-input__hidden(id=id name=name type=type value=val checked=checked)

        if mod.indexOf('color') !== -1
            label.custom-input__label(for=id class!=attributes.label style!=('background-color: ' + attributes.color))
        else
            label.custom-input__label(for=id class!=attributes.label)
                block

mixin inputsGroup(input, data)

    - var checked;

    +b.UL.inputs-group(class!=attributes.list)

        each text, ind in data

            +e.LI.item

                - checked = (ind === 0 ? true : false)

                +customInput(input.mod, input.type, input.id + '-' +ind, input.name, ind, checked)
                    | #{text}

mixin colorInputs(data)

    - var checked;

    each color, ind in data.colors

        - checked = (ind === 0 ? true : false)

        +customInput('color', 'checkbox', data.id + '-' +ind, data.name, color, checked)(color=color)


